#choice {
		
	.text {
		@include center_xy;
		@include size(font-size, 30);
		@include size(line-height, 50);
		color: #fff;
		width: 80%;
		text-align: center;

		.fill {
			@include size(top, 6);
			position: relative;
			background-color: #000;
			display: inline-block;
			width: 380px;
			height: 30px;
			text-align: center;
		}
		.fill-1 {
			@include size(width, 380);
		}
		.fill-2 {
			@include size(width, 420);
		}

		.fill-3 {
			@include size(width, 390);
		}

		span {
			position: absolute;
			display: block;
			text-align: center;
			width: 100%;
			font-weight: 600;
			height: inherit;
			@include size(line-height, 25);
			@include size(font-size, 25);
			@include opacity(0);
			@include transition(opacity 0.3s);
		}
	}

	.text.choice1 {
		span.word-1 {
			@include opacity(1);
		}
	}
	
	.text.choice2 {
		span.word-2 {
			@include opacity(1);
		}
	}
	
	.text.choice3 {
		span.word-3 {
			@include opacity(1);
		}
	}

	.choices {
		@include center_x;
		text-align: center;
		width: 81%;
		bottom: 0;

		li {
			@include size(height, 80);
			width: 27%;
			display: inline-block;
			position: relative;
			cursor: pointer;

			span {
				@include size(width, 21);
				@include size(height, 11);
				@include center_xy;
				display: block;
				background-image: url('../images/scrolldown.png');
			}
		}
	}
}