html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	//font-family: 'Quicksand', sans-serif;
	font-family: 'PT Sans Caption', sans-serif;
}

body {
	height: 100%;
	width: 100%;
	overflow: auto;
	@include perspective( 1400 );
}

canvas {
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	z-index: 100;
	@include transition(opacity 0.8s);
	@include opacity(0);
	@include size(right, 20);
	@include size(top, 20);

	li {
		display: inline-block;
		background-size: 100%;
		cursor: pointer;
		@include opacity(0.5);
		@include square(40);
		@include transition(opacity 0.3s);

		&:hover {
			@include opacity(0.8);
		}
	}

	li.home {
		background-image: url('../images/ccButtonHome.png');
	}

	li.word {
		background-image: url('../images/ccButtonWords.png');
	}

	li.sound {
		background-image: url('../images/ccButtonSound.png');
	}

	li.fullscreen {
		background-image: url('../images/ccButtonFs.png');
	}
}


.lateral-text {
	position: absolute;
	color: #fff;
	@include opacity(0);
	@include size(line-height, 23);
	@include size(font-size, 17);
	@include size(width, 360);
	@include center_y;
	@include size(left, 30);
	
	@include rotate3d(0, 1, 0, 0deg);
	@include transform-origin(0, 0);
}

.lateral-menu {
	@include rotate3d(0, 1, 0, 0deg);
	@include transform-origin(60px, 0);
	@include size(right, 30);
	@include center_y;
	@include opacity(0);

	li {
		background-size: 100%;
		cursor: pointer;
		@include opacity(0.5);
		@include square(60);
		@include transition(opacity 0.3s);
		cursor: pointer;

		&:hover {
			@include opacity(0.8);
		}
	}

	.map {
		background-image: url('../images/ccChaptersMapicon.png');
	}
	.photo {
		background-image: url('../images/ccChaptersPhotoicon.png');
	}
	.video {
		background-image: url('../images/ccChaptersVideoicon.png');
	}
}

#audio {
	display: none;
}


#science2 {
	background-size: cover;
	background-position: center center;
	background-image: url('../images/ccChaptersLeft.jpg');
}

#sociological2 {
	background-size: cover;
	background-position: center center;
	background-image: url('../images/ccExtraSociological.jpg');
}

#military2 {
	background-size: cover;
	background-position: center center;
	background-image: url('../images/ccExtraMilitary.jpeg');
}

#end {
	background-size: cover;
	background-position: center center;
	background-image: url('../images/ccExtraEnd.jpeg');
}