html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	//font-family: 'Quicksand', sans-serif;
	font-family: 'PT Sans Caption', sans-serif;
}

body {
	height: 100%;
	width: 100%;
	overflow: auto;
}

canvas {
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	z-index: 100;
	@include transition(opacity 0.8s);
	@include opacity(0);
	@include size(right, 20);
	@include size(top, 20);

	li {
		display: inline-block;
		background-size: 100%;
		cursor: pointer;
		@include opacity(0.5);
		@include square(40);
		@include transition(opacity 0.3s);

		&:hover {
			@include opacity(0.8);
		}
	}

	li.home {
		background-image: url('../images/ccButtonHome.png');
	}

	li.word {
		background-image: url('../images/ccButtonWords.png');
	}

	li.sound {
		background-image: url('../images/ccButtonSound.png');
	}
}

#audio {
	display: none;
}