@import "compass/reset";
@import "compass/css3";
@import "mixins";

@include keyframes(slideOut){
	from {
		@include transform(translateY(100%));
	}

	to {
		@include transform(translateY(0%));
	}
}

@include keyframes(slideIn) {
	from {
		@include transform(translateY(0%));
	}

	to {
		@include transform(translateY(-100%));
	}
}


@include keyframes(slideInInv){
	from {
		@include transform(translateY(0%));
	}

	to {
		@include transform(translateY(100%));
	}
}

@include keyframes(slideOutInv) {
	from {
		@include transform(translateY(-100%));
	}

	to {
		@include transform(translateY(0%));
	}
}

#scrolling {
	@include get-all-space;
	overflow: hidden;

	section {
		@include get-all-space;
		overflow: hidden;
		display: none;

		&.current {
			display: block;
			visibility: visible;
		}

		&.adiacent {
			display: block;
			visibility: hidden;
		}

		&.slideIn {
			display: block;
			visibility: visible;
			@include animation(slideIn 0.8s);
		}

		&.slideOut {
			display: block;
			visibility: visible;
			@include animation(slideOut 0.8s);
		}


		&.slideOutInv {
			display: block;
			visibility: visible;
			@include animation(slideOutInv 0.8s);
		}

		&.slideInInv {
			display: block;
			visibility: visible;
			@include animation(slideInInv 0.8s);
		}
	}

}

#slide-1 {
	background-color: red;
}

#slide-2 {
	background-color: yellow;
}

#slide-3 {
	background-color: blue;
}

#slide-4 {
	background-color: violet;
}