#viewer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#viewer canvas {
	position: absolute;
	left: 50%;
	top: 50%;
}

@import "mixins";

#scrolling {
	@include get-all-space;

	section {
		@include get-all-space;
		display: none;
	}

	section.current {
		display: block;
	}
}